/* Colores: naranja, amarillo, verde, azul y rojo*/
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(/imagenes/espuma.jpeg);
    background-size: cover;
    height: 100%;
}

.h1 {
    padding: 15%;
    color: green;
    background-color: blue;
}

.zarpaje {
    padding: 25px;
    color: blue;
    background-color: green;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: orange;
}

.one {
    margin-top: 10px;
    width: 50%;
    height: 90vh;
    background-color: red;
}

.two {
    margin-top: 10px;
    width: 40%;
    height: 80vh;
    background-color: orange;
}

.three {
    margin-top: 10px;
    width: 30%;
    height: 70vh;
    background-color: blueviolet;
}

.four {
    margin-top: 10px;
    width: 20%;
    height: 60vh;
    background-color: green;
}

.nombre, .apellido, .contra, .name {
    width: 50%;
}

.padre {
    list-style-type: none;
    padding: 0%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.padre li {
    border: 1px solid salmon;
    padding: 5px;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    color: blue;
    padding: 10px;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
}

/*.e1 {
    background-color: cornflowerblue;
    color: yellow;
    flex-grow: 3;
}

.e2 {
    background-color: violet;
    color: white;
    flex-basis: 10%;
}*/
@media (min-width: 767px) {
    .padre {
        display: flex;
        flex-direction: row;
        background-color: green;
    }
}

.cardscontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.card {
    background-color: green;
    border: 5px solid black;
    padding: 2px;
    border-radius: 10px;
}

.cardtitle {
    display: flex;
    justify-content: center;
    background-color: blue;
}
.cardp {
    display: flex;
    justify-content: center;
    background-color: blue;
}

@media (min-width: 767px) {
    .cardscontainer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 300px;
        display: grid;
    }
    .general {
        display: grid;
        grid-template-columns: 1fr;
    }
    }

.img {
    width: 250px;
    height: 150px;
}

.general {
    background-color: green;
    border: 5px solid black;
    padding: 2px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

main {
    display: grid;
    grid-template-columns: auto;
}

.nav {
    background-color: blue;
    color: red;
    list-style: none;
    text-decoration: none;
}

.lil {
    background-color: blue;
    color: white;
    list-style: none;
    text-decoration-line: none;
}

.lil:hover {
    color: white;
}

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.article {
    background-color: red;
    color: blue;
    border: 5px solid white;
    transition-property: background-color;
}
.article:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
    border: 5px dashed red;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.645);
    transition: 1000ms;
    scale: 1.02;
}

.footer {
    background-color: white;
    color: red;
    border: 5px solid blue;
}

h2, p {
    display: flex;
    justify-content: center;
}

.div {
    background-color: red;
    border: 5px solid blue;
    width: 200px;
    margin: 20px;
}

.div {
    animation: div 2s infinite;
}

@keyframes div {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
